{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome, Facility Administrator!</h2>
    <p>This is your dashboard.</p>

    <div class="mt-4">
        <h4>Actions:</h4>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Manage Enrollments</a></li>
            <li class="list-group-item"><a href="#">Manage Staff</a></li>
            <li class="list-group-item"><a href="#">Assign Staff to Classroom</a></li>
            <li class="list-group-item"><a href="#">Manage Classroom Enrollments</a></li>
            <li class="list-group-item"><a href="#">View Attendance</a></li>
            <li class="list-group-item"><a href="#">Manage Accounting Ledger</a></li>
            <li class="list-group-item"><a href="#">Generate Reports</a></li>
            <!-- ... other facility admin functionalities -->
        </ul>
    </div>
</div>
{% endblock %}
